.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.App .hide-el {
  display: none;
}
.App .rct-checkbox {
  display: none;
}
.App .rct-collapse:not(.rct-collapse-btn) {
  width: 9px;
}
.App .rct-collapse.rct-collapse-btn {
  width: 19px;
}